/* Reset and layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    font-family: sans-serif;
}

/* Fullscreen background container */
.background-container {
    width: 100%;
    height: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.entrance-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

/* Centered door setup */
.wrapper {
    height: 575px;
    width: 500px;
    border: 10px solid black;
    position: relative;
    perspective: 1000px;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Background image inside the door */
.open-entrance {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Door styling */
.door {
    background-color: brown;
    height: 100%;
    width: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

#left-door {
    top: 0;
    left: 0;
    border-right: 1px solid black;
    transform-origin: left;
    transition: transform 0.5s;
}

#right-door {
    top: 0;
    right: 0;
    border-left: 1px solid black;
    transform-origin: right;
    transition: transform 0.5s;
}

/* Decorative panel shapes on the doors */
.shape {
    border: 8px solid black;
    width: 180px;
    height: 200px;
}

/* Knobs */
.knob {
    width: 10px;
    height: 60px;
    background-color: gold;
    position: absolute;
}

#left-knob {
    top: 50%;
    right: 10px;
}

#right-knob {
    top: 50%;
    left: 10px;
}

/* Door hover animation */
.wrapper:hover #left-door {
    transform: rotateY(-140deg);
}

.wrapper:hover #right-door {
    transform: rotateY(140deg);
}

.barrier{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.barrier1{
    height: 500px;
    width: 900px;
    margin-top: 600px;
    padding-right: 300px;
}

.barrier2{
    height: 500px;
    width: 600px;
    margin-top: 600px;
}
